#VARIABLE {name[main]} {};				# Character name
#VARIABLE {password[main]} {};			# Character password

#VARIABLE {name[heal]} {};				# Character «heal» name
#VARIABLE {password[heal]} {};			# Character «heal» password

#VARIABLE {leader} {Лидер}
